.portfolio {
    .container {
        .portfolio-heading {
            text-align: center;

            h1 {
                font-weight: $fw-heading-900;
            }

            p {}

            .bar {
                width: 40px;
                height: 5px;
                background-color: #0078ff;
                margin: 0 auto;
            }
        }

        .portfolio-items {
            margin-left: 40px;
            .row {
                .portfolio-item {
                    .card{
                        border: none;
                        margin-bottom: 40px;
                        @include styleBoxShadow( $box-shadow,$-webkit-box-shadow,$-moz-box-shadow);
                        img{}
                        .card-body{
                            .row{
                                .col-7{
                                    .card-text{
                                        @include styleText($fs-nav,$fw-600,$color-black);
                                    }
                                    p{
                                        @include styleText($fs-14,$fw-text,$color-text);
                                        span{
                                            @include styleText($fs-14,$fw-text,$color-blue);
                                        }
                                    }
                                }
                                .col-5{
                                    text-align: right;
                                    i{
                                        font-size: 30px;
                                        color:$color-blue;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}