// font-weight
$fw-600:600;
$fw-text: 300;
$fw-heading-1:700;
$fw-heading-900:900;
// font-size
$fs-logo: 28px;
$fs-nav:16px;
$fs-text:20px;
$fs-14:14px;
// color
$color-header: white;
$color-text: #4e4e4e;
$color-black: black;
$color-blue:#0078ff;
// letter-spacing
$letter-spacing-1: 1px;
$letter-spacing-04: 0.4px;


// boxshadow
$box-shadow: 1px -2px 13px -5px rgba(0, 0, 0, 0.75);
$-webkit-box-shadow: 1px -2px 13px -5px rgba(0, 0, 0, 0.75);
$-moz-box-shadow: 1px -2px 13px -5px rgba(0, 0, 0, 0.75);