// font-weight
$fw-600:600;
$fw-text: 300;
$fw-heading-1:700;
// font-size
$fs-logo: 28px;
$fs-nav:16px;
$fs-text:20px;
// color
$color-header: white;
$color-text: #4e4e4e;
// letter-spacing
$letter-spacing-1: 1px;
$letter-spacing-04: 0.4px;