.carousel-home{
    background-image: url(../../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
    width: 100%;
    top: 0;
    // background-color: #cccccc !important;
    .container{
        .carousel-content{
            position: absolute;
            top: 40%;
            left: 30%;
            color: white;
            .name{

            }
            .job{

            }
        }
    }
}